body{
    margin: 0;
    display:flex; 
    justify-content:center;
    height: 100vh;
    align-items: center;
}

.slider-container{
    position:relative;
    width: 500px;
    height: 300px;
   overflow: hidden;
    border: 10px;
    box-shadow:0 4px 8px black ;
}

#image-container{
    display: flex;
    transition: 1s ease-in-out;

}

#btn-prev{
    position: absolute;
    top: 50%;
    color:white;
    font-size: 20px;
    cursor: pointer;

}

#btn-next{
    position: absolute;
    top: 50%;
    left:95%;
    color:white;
    font-size: 20px;
    cursor: pointer;

}

sks{
    transform: translateX(-500);
}